@charset 'utf-8';

*{
  font-family: Arial, Helvetica, sans-serif;
  /* height: 100%; */
}

body {
  background-image: linear-gradient(to right, #012626, #04BFAD, #038C7F);
}

main {
  background-color: #fff;
  width: 600px;
  padding: 10px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 5px 5px 3px rgba(1, 38, 38, 0.685);
}

h1 {
  color: #027368;
  text-align: center;
  text-shadow: 1px 1px 0px rgb(0, 56, 39);
}

h2 {
  color: #01403A;
}

p {
  text-align: justify;
}