@charset 'utf-8';

/*
  HTML ID = # NO CSS (so pode ter um elemento com esse ID)
  HTML CLASS = . NO CSS (pode ter varios elementos com essa classe)
*/

body{
  background-color: rgb(151, 234, 255);
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  color: white;
}

h2{
  color: rgb(0, 82, 0);
}

h1#principal{
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
  background-color: rgb(0, 204, 0);
  color: white;
}

.basico {
  color: green;
}

.intermediario{
  color: yellow;
}

.avancado{
  color: red;
}

.destaque{
  font-size: 30px;
  background-color: rgb(0, 80, 0);
  font-weight: bold;
}